#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display:flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}


.book {
  color: white;
  padding: 0.5rem;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg,#4099ff,#73b4ff);

}