#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display:flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.shelf-container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-align: left;
  display: block;
}

